<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FDMC <3</title>
</head>
<body>
	<h1>Create a Cat!</h1>
	<form action = "/cats/create" method="Post">
		<label for = "nameInput">Name:</label>
		<input type = "text" id = "nameInput" name = "name"><br/>
		<label for = "breedInput">Breed:</label>
		<input type = "text" id = "breedInput" name = "breed"><br/>
		<label for = "colorInput">Color:</label>
		<input type = "text" id = "colorInput" name = "color"><br/>
		<label for = "agerInput">Age:</label>
		<input type = "number" id = "agerInput" name = "age"><br/>
		<button type = "submit">Create Cat!</button><br/><br/>
		<a href = "/">Back To Home</a>
	</form>
</body>

</html>